#nav, #lang {
  position: relative;
  z-index: 500;
}
#content {
  top: -86px;
}
#lang { 
  margin-top: -40px;
  margin-bottom: 60px;
}
#lang li a {
  padding-left: 2em;
}
#main, #promo .person img {
  behavior: url(styles/PIE/PIE.htc);
}
#promo .person .details {
  background-color: none;
  background-image: url(../images/transparent.png);
  font-size: 81%;
}
#footer { 
  margin-top: -165px;
  position: relative;
}
#footer .address {
  position: relative;
  top: -45px;
}
#footer .certifications { 
  margin-top: -45px;
  width: 120px;
}