/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#General Text Styles
	#Retina & Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body {
  background: url(../images/body-background-1600.png) repeat-x scroll left top;
}
body.contact {
  background-image: url(../images/body-sub-background-1600.png);
} 
#wrap {
  background: url(../images/footer-background-1600.png) repeat-x scroll left bottom;
}
#header {
}
#logo {
}
#logo img {
}
#nav {
}
#nav li {
}
#nav li.active, #nav li:hover {
  background: url(../images/header-nav-hover.png) no-repeat scroll center bottom;
}
#nav li a {
}
#lang {
}
#lang li {
  background: url(../images/header-lang-flags-1600.png) no-repeat scroll 0 0;
  height: 15px;
}
#lang .en_uk {
  background-position: 0 -30px;
}
#lang .de_de {
  background-position: 0 -60px;
}
#lang .fr_fr {
  background-position: 0 -90px;
}
#content {
  background: url(../images/body-shades-top-1600.png) no-repeat scroll center 100px;
}
#footer {
  background: url(../images/footer-fade-background-1600.png) no-repeat scroll center -174px;
}

/* #Page Styles
================================================== */

#slider {
}
#slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
#slider a {
  border: 0;
  display: block;
}
#main {
  border: 1px solid #fff;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  padding: 10px;
  -moz-box-shadow: 0 0 6px #9d9d9d;
  -webkit-box-shadow: 0 0 6px #9d9d9d;
  -o-box-shadow: 0 0 6px #c3c3c3;
  box-shadow: 0 0 6px #9d9d9d;
  background-color: #fbfafa;
  margin: 10px 10px 2px 20px;
}
#promo {
}
#promo .post {
  -moz-column-count: 2;
  -moz-column-gap: 18px;
  -webkit-column-count: 2;
  -webkit-column-gap: 18px;
  -o-column-count: 2;
  -o-column-gap: 18px;
  column-count: 2;
  column-gap: 18px;
}
.contact #promo .post {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
}
.contact #promo {
  float: none;
  padding: 0;
  width: inherit;
}
#promo .person {
}
#promo .person.omega {
  margin: 0;
}
#promo .person img {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#promo .person .details {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
}
#aside {
}
#aside .news-item {
  background: url(../images/body-newsitem-background-1600.png) no-repeat scroll left top;
}
#aside .news-item a {
}
.sub-page #aside {
  /*beroende på hur linjen ska bete sig kan man behöva flytta den till #promo*/
  border-left: 1px solid silver;
}
.sub-page #aside .gallery-item {
  float: left;
}
.sub-page #aside .gallery-item img {
}
#footer .address.alpha {
}
#footer .certifications {
  float: right;
}
#footer .certifications .symbol1 {
}
#footer .certifications .symbol2 {
}
/* #General Text Styles
================================================== */

h1, h2, h3, h4, h5, h6, .ingress, a, #nav a, #promo .person .name, .description {
  color: #004477;
  /*blir Helvetica på iOS/OSX samt Arial på Windows för bästa läsbarhet*/
  font-family: sans-serif;
  font-weight: bold;
}
h1 {
}
h2 {
}
#main h1, #main h2 {
}
p, .news-item {
  font: 1.1em Garamond, "Times New Roman", Times, serif;
}
.ingress, a, #nav a, #promo .person .name, .description {
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}
a:visited {
  color: #c0c0c0;
}
#nav li a {
  color: #c8a675;
}
#lang li a {
  /*visa inte text, men låt det vara tillgångligt för hjälpmedel och sökmotorer*/
  display: block;
  height: 12px;
  opacity: 0;
  padding-left: 2em;
  width: 20px;
}
#promo .person .details > * {
  display: block;
  clear: both;
}
#promo .person .details {
  line-height: 125%;
}
#aside .news-item {
  line-height: 90%;
  font-size: 1em;
}
#aside .news-item a {
  overflow: hidden;
}
.description {
  font: 0.87em "Big Caslon", "Times New Roman", Times, serif;
}
#footer, #footer a {
  color: #fff;
}
#footer .certifications {
  text-align: right;
}

/* #Retina & Media Queries
================================================== */
  @media only screen and (min-width: 1600px) {
  }
  
  @media handheld and (max-width: 767px), 
  		screen and (max-device-width: 767px),
  		screen and (max-width: 767px) {
  }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
          only screen and (-o-min-device-pixel-ratio: 3/2),
          only screen and (min--moz-device-pixel-ratio: 1.5),
          only screen and (min-device-pixel-ratio: 1.5) {
            /*
            Retina-bilder som bakgrund kan placeras här
            Jag har inte lagt in de faktiska filerna, men genom att lägga in filer döpta som här under kan man servera snyggare grafik till de webbläsare som vill ha.
            */
  }

/* #Font-Face
================================================== */
/*   This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/