/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#General Text Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
  background: url(../images/body-background.png) repeat-x scroll left top;
}
#wrap {
  background: url(../images/footer-background.png) repeat-x scroll left bottom;
}
#header {
}

#logo img {
  height: 113px;
  position: relative;
  width: 212px;
  z-index: 100;
}
#nav {
  float: right;
  margin-top: 25px;
}
#nav li {
  float: left;
  margin: 0 5px;
}
#nav li.active {
  background: url(../images/header-nav-hover.png) no-repeat scroll center bottom;
}
#nav li a {
  padding: 0 10px;
}

#lang {
  clear: right;
  float: right;
  position: relative;
  z-index: 100;
}
#lang li {
  float: left;
  height: 12px;
  margin: 0 5px 0 0;
  overflow: hidden;
  width: 20px;
  background: url(../images/header-lang-flags.png) no-repeat scroll 0 0;
}
#lang .en_uk {
  background-position: 0 -20px;
}
#lang .de_de {
  background-position: 0 -40px;
}
#lang .fr_fr {
  background-position: 0 -60px;
}
#footer {
  background: url(../images/footer-fade-background.png) no-repeat scroll left 0;
  height: 101px;
  margin: 10px 0 0 0;
  padding: 0 15px;
}

/* #Page Styles
================================================== */

#slider {
  height: 220px;
  margin: -55px 0 0;
}
#slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
#slider a {
  border: 0;
  display: block;
}
#main {
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 10px;
  -moz-box-shadow: 0 0 9px #c3c3c3;
  -webkit-box-shadow: 0 0 9px #c3c3c3;
  -o-box-shadow: 0 0 9px #c3c3c3;
  box-shadow: 0 0 9px #c3c3c3;
  background-color: #fbfafa;
  margin: 10px;
}
#promo {
  float: left;
  width: 695px;
  padding: 0 25px 0 0;
}
#promo .post {
  -moz-column-count: 2;
  -moz-column-gap: 18px;
  -webkit-column-count: 2;
  -webkit-column-gap: 18px;
  -o-column-count: 2;
  -o-column-gap: 18px;
  column-count: 2;
  column-gap: 18px;
}
#aside {
  float: left;
  width: 195px;
}
#aside .news-item {
  background: url(../images/body-newsitem-background.png) no-repeat scroll left top;
  padding: 8px 8px 14px;
  height: 38px;
  width: 179px;
}
#aside .news-item a {
  display: inline-block;
  height: 38px;
  width: 179px;
}
#footer .certifications {
	margin-top: 5px;
}
#footer .certifications .symbol1 {
  height: 36px;
  width: 24px;
}
#footer .certifications .symbol2 {
  height: 36px;
  width: 40px;
}
/* #General Text Styles
================================================== */

h1, h2, h3, h4, h5, h6, .ingress {
  color: #004477;
  /*blir Helvetica på iOS/OSX samt Arial på Windows för bästa läsbarhet*/
  font-family: sans-serif;
  font-weight: bold;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 23px;
}
p, .news-item {
	font: 16px Garamond, "Times New Roman", Times, serif;
}
.ingress {
  color: #004477;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1em;
}
a {
  color: #004477;
  text-decoration: none;
}

#nav li a {
  line-height: 38px;
  color: #c8a675;
  font-weight: bold;
  font-size: 12px;
}
#lang li a {
  /*visa inte text, men låt det vara tillgångligt för hjälpmedel och sökmotorer*/
  opacity: 0;
}
#aside .news-item {
  line-height: 90%;
  font-size: 12px;
}
#aside .news-item a {
  text-overflow: ellipsis;  
  overflow: hidden;
}

#footer {
  font-size: 9px;
  color: #fff;
}
#footer .certifications {
  text-align: right;
}

/* #Media Queries
================================================== */

	@media only screen and (max-width: 320px) {

	}

	@media only screen and (min-width: 600px) {

	}
	
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
          only screen and (-o-min-device-pixel-ratio: 3/2),
          only screen and (min--moz-device-pixel-ratio: 1.5),
          only screen and (min-device-pixel-ratio: 1.5) {
            /*retina-bilder som bakgrund kan placeras här*/
	}

/* #Font-Face
================================================== */
/*   This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/