/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#General Text Styles
	#Retina & Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body {
  background: url(../images/body-background.png) repeat-x scroll left top;
}
body.contact {
  background-image: url(../images/body-sub-background.png);
} 
#wrap {
  background: url(../images/footer-background.png) repeat-x scroll left bottom;
}
#header {
  display: initial;
  padding: 0 30px;
}
#logo {
  /*samma som för margin-top på #slider*/
  margin-bottom: -55px;
}
#logo img {
  height: 113px;
  position: relative;
  width: 212px;
  z-index: 100;
}
#nav {
  float: right;
  margin: 25px -10px 0 0;
}
#nav li {
  float: left;
  margin: 0 5px;
}
#nav li.active, #nav li:hover {
  background: url(../images/header-nav-hover.png) no-repeat scroll center bottom;
}
#nav li a {
  padding: 0 10px;
}

#lang {
  clear: right;
  float: right;
  position: relative;
  z-index: 100;
}
#lang li {
  float: left;
  height: 12px;
  margin: 0 5px 0 0;
  overflow: hidden;
  width: 20px;
  background: url(../images/header-lang-flags.png) no-repeat scroll 0 0;
}
#lang .en_uk {
  background-position: 0 -20px;
}
#lang .de_de {
  background-position: 0 -40px;
}
#lang .fr_fr {
  background-position: 0 -60px;
}
#content {
  padding: 0 20px;
  background: url(../images/body-shades-top.png) no-repeat scroll center 100px;
  position: relative;
  z-index: 50;
}
#footer {
  background: url(../images/footer-fade-background.png) no-repeat scroll center -174px;
  height: 101px;
  margin: -90px 0 0 0;
  padding: 100px 20px 0 20px;
}

/* #Page Styles
================================================== */

#slider {
  height: 222px;
  margin: -55px 0 25px 0;
}
#slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
#slider a {
  border: 0;
  display: block;
}
#main {
  border: 1px solid #fff;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  padding: 10px;
  -moz-box-shadow: 0 0 10px #9d9d9d;
  -webkit-box-shadow: 0 0 10px #9d9d9d;
  -o-box-shadow: 0 0 10px #c3c3c3;
  box-shadow: 0 0 10px #9d9d9d;
  background-color: #fbfafa;
  margin: 10px 10px 2px 20px;
}
#promo {
  float: left;
  width: 695px;
  padding: 0 25px 0 0;
}
#promo .post {
  -moz-column-count: 2;
  -moz-column-gap: 18px;
  -webkit-column-count: 2;
  -webkit-column-gap: 18px;
  -o-column-count: 2;
  -o-column-gap: 18px;
  column-count: 2;
  column-gap: 18px;
}
.contact #promo .post {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
}
.contact #promo {
  float: none;
  padding: 0;
  width: inherit;
}
#promo .person {
  float: left;
  height: 157px;
  overflow: hidden;
  position: relative;
  margin: 0 25px 10px 0;
  width: 133px;
}
#promo .person.omega {
  margin: 0;
}
#promo .person img {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  height: 157px;
  width: 133px;
}
#promo .person .details {
  height: 45px;
  padding: 0 0 0 10px;
  position: absolute;
  top: 100px;
  width: 123px;
  background-color: rgba(255, 255, 255, 0.5);
}
#aside {
  float: left;
  min-height: 250px;
  width: 195px;
}
#aside .news-item {
  background: url(../images/body-newsitem-background.png) no-repeat scroll left top;
  padding: 8px 8px 14px;
  height: 38px;
  width: 179px;
}
#aside .news-item a {
  display: inline-block;
  height: 38px;
  width: 179px;
}
.sub-page #aside {
  /*beroende på hur linjen ska bete sig kan man behöva flytta den till #promo*/
  border-left: 1px solid silver;
  padding: 40px 0 0 25px;
  width: 185px;
}
.sub-page #aside .gallery-item {
  float: left;
  width: 82px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.sub-page #aside .gallery-item img {
  height: 66px;
  width: 82px;
}
#footer .address.alpha {
  margin-left: 25px;
}
#footer .certifications {
  float: right;
  margin: 5px 25px 0 0;
}
#footer .certifications .symbol1 {
  height: 36px;
  width: 24px;
}
#footer .certifications .symbol2 {
  height: 36px;
  width: 40px;
}
/* #General Text Styles
================================================== */

h1, h2, h3, h4, h5, h6, .ingress {
  color: #004477;
  /*blir Helvetica på iOS/OSX samt Arial på Windows för bästa läsbarhet*/
  font-family: sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 23px;
}
#main h1, #main h2 {
  line-height: 30px;
  margin-bottom: 10px;
}
p, .news-item {
  font: 16px Garamond, "Times New Roman", Times, serif;
}
.ingress {
  color: #004477;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1em;
}
a {
  color: #004477;
  text-decoration: none;
}
a:visited {
  color: #c0c0c0;
}
#nav li a {
  line-height: 38px;
  color: #c8a675;
  font-weight: bold;
  font-size: 12px;
}
#lang li a {
  /*visa inte text, men låt det vara tillgångligt för hjälpmedel och sökmotorer*/
  display: block;
  height: 12px;
  opacity: 0;
  width: 20px;
}
#promo .person .details > * {
  display: block;
  clear: both;
}
#promo .person .details {
  font-size: 12px;
  line-height: 125%;
}
#promo .person .name {
  color: #004477;
}
#aside .news-item {
  line-height: 90%;
  font-size: 12px;
}
#aside .news-item a {
  overflow: hidden;
}
.description {
  color: #004477;
  font: 10px "Big Caslon", "Times New Roman", Times, serif;
}
#footer, #footer a {
  font-size: 9px;
  color: #fff;
}
#footer .certifications {
  text-align: right;
}

/* #Retina & Media Queries
================================================== */
  @media only screen and (min-width: 1600px) {
    body {
      background-image: url(../images/body-background-1600.png);
    }
    body.contact {
      background-image: url(../images/body-sub-background-1600.png);
    } 
    #wrap {
      background-image: url(../images/footer-background-1600.png);
    }
    #content {
      padding: 0 30px;
      background-image: url(../images/body-shades-top-1600.png);
    }
    #header {
      display: initial;	
    }
    #logo img {
      height: 176px;
      width: 330px;
    }
    #nav {
      float: right;
      margin-top: 50px;
      margin-right: -10px;
    }
    #nav li {
      margin: 0 20px;
    }
    #nav li a {
      font-size: 18px;
      line-height: 48px;
    }
    #lang {
      margin: 15px 10px 0 0;
    }
    #lang li {
      height: 16px;
      margin: 0 8px;
      background-image: url(../images/header-lang-flags-1600.png);
    }
    #lang .en_uk {
      background-position: 0 -30px;
    }
    #lang .de_de {
      background-position: 0 -60px;
    }
    #lang .fr_fr {
      background-position: 0 -90px;
    }
    #slider {
      height: 345px;
      margin: -83px 0 25px 0;
    }
    #main {
      padding: 20px;
      margin-top: 40px;
    }
    #promo {
      padding: 0 30px 0 0;
      width: 1100px;
    }
    #aside {
      width: 300px;
    }
    #promo .person {
      height: 243px;
      margin: 0 45px 20px 0;
      width: 206px;
    }
    #promo .person.omega {
      margin: 0;
    }
    #promo .person img {
      height: 243px;
      width: 206px;
    }
    #promo .person .details {
      height: 70px;
      padding: 0 0 0 10px;
      top: 160px;
      width: 206px;
      font-size: 18px;
    }
    
    #aside .news-item {
      background-image: url(../images/body-newsitem-background-1600.png);
      height: 61px;
      width: 282px;
      padding: 12px 12px 12px 10px;
    }
    #aside .news-item a {
      height: 54px;
      line-height: 18px;
      width: 280px;
    }
    .sub-page #aside {
      /*detta är lite av en gissning pga PSD-filen*/
      border-left: 1px solid silver;
      padding: 80px 0 0 55px;
      width: 280px;
      min-height: 320px;
    }
    .sub-page #aside .gallery-item {
      width: 123px;
      margin-right: 15px;
      margin-bottom: 15px;
    }
    .sub-page #aside .gallery-item img {
      height: 99px;
      width: 123px;
    }
    .description {
      font-size: 16px;
    }
    #footer {
      font-size: 12px;
      height: 161px;
      background: url(../images/footer-fade-background-1600.png) no-repeat scroll 0 -325px;
    }
    #footer > * {
      margin-top: 10px;
    }
    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 30px;
    }
    #main h1, #main h2 {
      line-height: 50px;
      margin-bottom: 20px;
    }
    p {
      font-size: 24px;
    }
    .ingress {
      font-size: 30px;
    }
    #aside .news-item {
      font-size: 18px;
    }
    
  }
  
  @media handheld and (max-width: 767px), 
  		screen and (max-device-width: 767px),
  		screen and (max-width: 767px) {
	  body, body.contact {
	    background-image: url(../images/body-background-320.png);
	  }
	  #wrap {
        background-image: url(../images/footer-background-320.png);
  	  }
	  #header {
	    display: initial;	
	  }
      #logo img {
        left: 95px;
        height: 58px;
      	width: 108px;
      }
      #nav {
      	display: block;
        float: none;
      	position: relative;
      	width: 310px;
      	z-index: 250;
		margin: 0;
	  }
	  #nav li.active, #nav li:hover {
        background: none;
	  }
	  #nav li {
	  	margin: 0 3px;
	  }
	  #nav li a {
        line-height: 22px;
        padding: 0 5px 10px;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
	  }
	  #lang {
	  	margin: 10px 0;
	  }
  	  #content, #header {
  	  	padding: 0 10px;
  	  }
  	  #slider {
  	  	height: 66px;
  	  	margin: 0 0 15px 0;
  	  }
  	  #main {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;        
        padding: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        background: none;
        margin: 0;
  	  }
  	  p {
  	  	font-size: 14px;
  	  }
  	  .ingress {
  	  	font-size: 16px;
  	  	margin-bottom: 10px;
  	  }
  	  h1 {
  	    font-size: 24px;
  	  }
  	  h2 {
  	    font-size: 18px;
  	   }
  	  .contact #promo {
  	  	padding:  0 12px;
  	  }
  	  #promo, #aside {
  	    float: left;
  	    width: inherit;
  	    padding: 0 15px;
  	  }
  	  #promo .post {
  	    -moz-column-count: 1;
  	    -webkit-column-count: 1;
  	    -o-column-count: 1;
  	    column-count: 1;
  	  }
  	  #promo .person {
  	    height: 157px;
  	    margin: 0 8px 15px 0;
  	    width: 133px;
  	  }
  	  #promo .person.even {
  	  	margin: 0;
  	  }
  	  #promo .person img {
  	    height: 157px;
  	    width: 133px;
  	  }
  	  #promo .person .details {
  	    height: 45px;
  	  }
  	  
  	  #aside {
  	  	width: 270px;
  	  }
  	  .sub-page #aside {
  	  	border: none;
  	  	width: 285px;
  	  	padding: 0 0px 0 15px;
  	  	min-height: 120px;
  	  }
 	  .sub-page #aside .gallery-item {
 	  	margin: 0 16px 3px 0;
   	    width: 126px;
 	  }
 	  .sub-page #aside .gallery-item img {
   		height: 101px;
   		width: 126px;
 	  }
  	  .description {
  	  	font-size: 14px;
  	  	margin: 0 0 0 10px;
		}
  	  #aside .news-item {
        background-image: url(../images/body-newsitem-background-320.png);
        height: 65px;
        width: 257px;
        margin: 5px 0 5px -10px;
        padding: 5px 20px 4px 20px;
		line-height: 130%;
	  }
	  #aside .news-item a {
		width: inherit;
		height: 60px;
	  }
	  #footer {
	    background: none;
        font-size: 12px;
	  }
	  #footer .address {
       width: inherit;
	  }
	  #footer .address.alpha {
	    margin-left: 0;
	  }
	  #footer .certifications {
		width: 280px;
		margin: 10px 0;
		text-align: center;
	  }
  }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
          only screen and (-o-min-device-pixel-ratio: 3/2),
          only screen and (min--moz-device-pixel-ratio: 1.5),
          only screen and (min-device-pixel-ratio: 1.5) {
            /*retina-bilder som bakgrund kan placeras här*/
  }

/* #Font-Face
================================================== */
/*   This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/